body{
    margin: 0;
    padding: 0;
}
.container-flexible{
    display: flex;
}

.half-width{
    width: 40%;
}

.stay-focused-img img{
    width: 100%;
    margin-left: 250px;
    margin-top: 0;
}

.stay-focused-section{
    width: 80%;
    margin: 0 auto;
}

.stay-focused-text{
margin-top: 75px;
}


.stay-focused-text p{
    text-align: justify;
}

.button{
padding: 8px 30px;
background-color: bisque;
border-radius: 5px;
border: 1px solid black;
font-weight: bold;
}

.button:hover{
    background-color: brown;
    color: white;
    cursor: pointer;
}

.orange-color{
    color: orange;
}

.stay-focused-text h1{
    font-size: 3.2em;

}

.stay-focused-header{
    border-left: 3px solid;
    border-image: linear-gradient(green, red);
    border-image-slice: 1;
    height: auto;
    
}

.margin-padding-for-stay-focused-header{
    padding-left: 10px;
    margin: 0;
}

h1{
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

h2{
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif; 
}

.mission-section{
    width: 80%;
    margin: 50px auto;
}


.mission-section h2{
    text-align: center;
    font-size: 2em;
}

.cards-mission-section{
    width: 25%;
}

.mission-secon-img img{
    width: 50%;
}

.cards-mission-section{
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    
    
    
}
.cards-mission-section p{
    text-align: justify;
    
}

.all-cards-mission-section{
    justify-content: space-between;
}

.width-80-margin-0-auto{
    width: 80%;
    margin: 0 auto;

}

.develop-section-img img{
    width: 80%;
    
}

.zero-margin-padding{
    margin: 0;
    padding: 0;
}

.develop-text-part{
    margin: 50px 0 0;

}

.develop-text-part{
text-align: justify;
}

.community-section-img img{
    width: 80%;
    padding-left: 80px;
}


.two-object-justification{
    justify-content: space-between;
}

.community-part{
    margin-top: 50px;
}

.develop-section{
    margin-top: 60px;
}

h3{
    font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

.footer-div {
    text-align: center;
    padding: 4px;
}
footer{
    background-color: black;
    height: 100px;
    margin-top: 50px;
    
}

footer h1{
    margin-bottom: 0;
    color: white;


}

footer p{
    margin-top: 0;
    color:white
}

.red-color{
    color: red;
}
